.header-container{
  align-items: center;
  height: 54px;
  background-color: rgba(var(--cdc,255,255,255),1);
  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
  position: fixed;
  top: 0;
  transition: height .2s ease-in-out;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.header-content{
  height: 54px;
  padding: 0 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 975px;
  transition: height .2s ease-in-out;
  width: 100%;
}

.header-logo{
  flex: 1 9999 0%;
  min-width: 40px;
}

.header-search{
  height: 22px;
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
}

.header-search-input{
  border: solid 1px rgba(var(--b6a,219,219,219),1);
  border-radius: 3px;
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  outline: 0;
  padding: 3px 10px 3px 26px;
  z-index: 2;
}

.header-icons{
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0%;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header-logo-container{
  align-items: center;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
