.app-container{
  max-width: 935px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
}

.app-container-mobile{
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}
