<div *ngIf="post != null" class="d-none d-lg-block post-section-wrapper"
     [style]="addPaddingToTop ? 'padding-top:120px;   margin: 0 auto 0 auto;'
 : '  margin: 0 28px 0 auto;'">
  <div class="post-section">
    <mat-card class="post">
      <mat-card-header class="post-header">
        <div mat-card-avatar class="post-header-image clickable" routerLink="/profile/{{this.post.user.id}}"
             [ngStyle]="{'background-image': 'url(' + post.user.meta.photo +')'}"></div>
        <div class="post-header-username">
          <p>{{post.user.username}}</p>
        </div>
        <div  class="fa fa-1x post-options">
          <fa-icon [matMenuTriggerFor]="postMenu"
                   [icon]="moreIcon" icon="moreIcon">
          </fa-icon>
        </div>
      </mat-card-header>
      <div class="post-photo-block" (dblclick)="handleClick()">
        <img class="post-photo" mat-card-image src="{{post.image}}" alt="">
          <fa-icon @myInsertRemoveTrigger *ngIf="likeTrigger"
                   [icon]="likeIcon" icon="likeIcon" class="fa fa-6x like-heart">
          </fa-icon>
      </div>
      <div class="post-footer">
        <mat-card-actions>
          <button (click)="handleClick(true)" mat-button style="outline: 0">
            <i *ngIf="!isLiked" class="material-icons">
              favorite_border
            </i>
            <i *ngIf="isLiked" class="material-icons">
              favorite
            </i>
          </button>
        </mat-card-actions>
        <div class="post-likes">
          Liczba polubień:
          <span>{{post.likes}}</span>
        </div>
        <mat-card-content class="post-scroll-section">
          <div class="post-description" [ngClass]="{show: showDescription}">
            <span *ngIf="!showDescription">{{post.description  | words: 10}}</span>
            <span *ngIf="showDescription">{{post.description}}</span>
            <button class="post-description-show-more"
                    (click)="showDescription = !showDescription">{{showDescription == false ? "więcej" : "mniej"}}</button>
          </div>
          <div>
            <div *ngIf="post.comments[0]" fxLayout="row" class="post-comment">
              <a>{{post.comments[0].author_name}}</a>
              <span>{{post.comments[0].body}}</span>
            </div>
            <div *ngIf="post.comments[1]" fxLayout="row" class="post-comment">
              <a>{{post.comments[1].author_name}}</a>
              <span>{{post.comments[1].body}}</span>
            </div>
            <div *ngIf="!showMoreComments && post.comments[2]" class="post-load-more-comments-wrapper">
              <button class="post-load-more-comments" style="outline: 0"
                      (click)="showMoreComments = !showMoreComments">
                <i class="material-icons">
                  add_circle_outline
                </i>
              </button>
            </div>
            <div *ngIf="showMoreComments && post.comments[2]">
              <div *ngFor="let comment of post.comments; index as i">
                <div *ngIf="i != 0 && i != 1" fxLayout="row" class="post-comment">
                  <a>{{post.comments[i].author_name}}</a>
                  <span>{{post.comments[i].body}}</span>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
        <section class="post-add-comment-section">
          <div class="post-add-comment">
            <form class="post-add-comment-form">
            <textarea [(ngModel)]="addCommentContent"
                      name="userCommentContent"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      aria-label="Dodaj komentarz..."
                      placeholder="Dodaj komentarz..."
                      class="post-add-comment-text-area"></textarea>
              <button style="outline: 0" (click)="addComment(addCommentContent)"
                      [disabled]="!addCommentContent" type="button"
                      mat-button>Opublikuj
              </button>
            </form>
          </div>
        </section>
      </div>
    </mat-card>
  </div>
</div>
<div *ngIf="post != null" class="d-block d-lg-none post-section-mobile" [style]="addPaddingToTop ? 'padding-top:120px;' : ''">
  <mat-card class="post">
    <mat-card-header class="post-header">
      <div mat-card-avatar class="post-header-image  clickable" routerLink="/profile/{{this.post.user.id}}"
           [ngStyle]="{'background-image': 'url(' + post.user.meta.photo +')'}"></div>
      <div class="post-header-username">
        <p>{{post.user.username}}</p>
      </div>
      <div  class="fa fa-1x post-options">
        <fa-icon [matMenuTriggerFor]="postMenu"
                 [icon]="moreIcon" icon="moreIcon">
        </fa-icon>
      </div>
    </mat-card-header>
    <div class="post-photo-block" (dblclick)="handleClick()">
      <img class="post-photo" mat-card-image src="{{post.image}}" alt="">
      <fa-icon @myInsertRemoveTrigger *ngIf="likeTrigger"
               [icon]="likeIcon" icon="likeIcon" class="fa fa-6x like-heart">
      </fa-icon>
    </div>
    <div class="post-footer">
      <mat-card-actions>
        <button (click)="handleClick(true)" mat-button style="outline: 0">
          <i *ngIf="!isLiked" class="material-icons">
            favorite_border
          </i>
          <i *ngIf="isLiked" class="material-icons">
            favorite
          </i>
        </button>
      </mat-card-actions>
      <div class="post-likes">
        Liczba polubień:
        <span>{{post.likes}}</span>
      </div>
      <mat-card-content class="post-scroll-section">
        <div class="post-description" [ngClass]="{show: showDescription}">
          <span *ngIf="!showDescription">{{post.description  | words: 10}}</span>
          <span *ngIf="showDescription">{{post.description}}</span>
          <button class="post-description-show-more"
                  (click)="showDescription = !showDescription">{{showDescription == false ? "więcej" : "mniej"}}</button>
        </div>
        <div>
          <div *ngIf="post.comments[0]" fxLayout="row" class="post-comment">
            <a>{{post.comments[0].author_name}}</a>
            <span>{{post.comments[0].body}}</span>
          </div>
          <div *ngIf="post.comments[1]" fxLayout="row" class="post-comment">
            <a>{{post.comments[1].author_name}}</a>
            <span>{{post.comments[1].body}}</span>
          </div>
          <div *ngIf="!showMoreComments && post.comments[2]" class="post-load-more-comments-wrapper">
            <button class="post-load-more-comments" style="outline: 0"
                    (click)="showMoreComments = !showMoreComments">
              <i class="material-icons">
                add_circle_outline
              </i>
            </button>

          </div>
          <div *ngIf="showMoreComments && post.comments[2]">
            <div *ngFor="let comment of post.comments; index as i">
              <div *ngIf="i != 0 && i != 1" fxLayout="row" class="post-comment">
                <a>{{post.comments[i].author_name}}</a>
                <span>{{post.comments[i].body}}</span>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      <section class="post-add-comment-section">
        <div class="post-add-comment">
          <form class="post-add-comment-form">
            <textarea [(ngModel)]="addCommentContent"
                      name="userCommentContent"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      aria-label="Dodaj komentarz..."
                      placeholder="Dodaj komentarz..."
                      class="post-add-comment-text-area"></textarea>
            <button style="outline: 0" (click)="addComment(addCommentContent)"
                    [disabled]="!addCommentContent" type="button"
                    mat-button>Opublikuj
            </button>
          </form>
        </div>
      </section>
    </div>
  </mat-card>
</div>
<mat-menu #postMenu="matMenu">
  <button  *ngIf="isPostOwner" mat-menu-item style="outline: 0;" (click)="handleDelete()">Usun</button>
  <button mat-menu-item style="outline: 0;" (click)="handleSee()">Zobacz</button>
</mat-menu>
