<div *ngIf="isMobile" class="footer-container">
  <div class="footer-content">
    <div class="footer-search">
      <input #autocompleteInput
             placeholder="Szukaj" class="header-search-input" type="text"
             matInput  [matAutocomplete]="auto" (input)="onSearchChange($event.target.value)">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let user of userList" [value]="user" style="line-height: 0 !important;">
          <button routerLink="profile/{{user.id}}" class="footer-search-wrapper" style="outline: 0;">
            <div fxLayout="row">
              <div mat-card-avatar class="footer-search-photo"
                   [ngStyle]="{'background-image': 'url(' + user.meta.avatar +')'}"></div>
              <div fxLayout="column" class="footer-search-data-wrapper">
                <div class="footer-search-username"><span>{{user.username}}</span></div>
              </div>
            </div>
          </button>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
</div>
