.header-container {
  align-items: center;
  height: 54px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(219, 219, 219, 1);
  position: fixed;
  top: 0;
  transition: height .2s ease-in-out;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

.header-content {
  height: 54px;
  padding: 0 20px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 975px;
  transition: height .2s ease-in-out;
  width: 100%;
}

.header-logo {
  flex: 1 9999 0%;
  min-width: 40px;
}

.header-search {
  height: 22px;
  flex: 0 1 auto;
  min-width: 125px;
  width: 215px;
}

.header-search-input {
  border: solid 1px rgba(219, 219, 219, 1);
  border-radius: 3px;
  color: #262626;
  color: rgba(38, 38, 38, 1);
  outline: 0;
  padding: 3px 10px 3px 26px;
  z-index: 2;
}

@media (max-width: 768px) {
  .header-search {
    height: 22px;
    flex: 0 1 auto;
    min-width: 125px;
    width: 150px;
  }

  .header-search-input {
    border: solid 1px rgba(219, 219, 219, 1);
    border-radius: 3px;
    color: #262626;
    color: rgba(38, 38, 38, 1);
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index: 2;
    width: inherit;
  }
}

.header-icons {
  align-content: center;
  align-items: center;
  display: flex;
  flex: 1 0 0%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header-user {
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

.header-add-photo {
  color: rgba(219, 219, 219, 1);
  font-size: 22px;
  cursor: pointer;
}

.header-icons-button {
  width: 22px;
  height: 22px;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  line-height: 0;
  outline: 0;
}


.header-logo-container {
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}




.search-wrapper{
  height: 44px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  border: 0;
  padding-left: 5px;
  text-align: left;
}

.search-photo {
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.search-data-wrapper {
  flex: 0 1 100%;
  margin-left: 14px;
}

.search-username{
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(38,38,38,1);
}
