.relations{
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  position: fixed;
  /*margin-top: 4px;*/
}

.relations-mobile{
  height: 82px;
  overflow-y: hidden;
  outline: 0;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 3px;
  margin-bottom: 24px;
  display: block;
  margin-top: 52px;
  padding: 10px 0;
}

.relations-mobile-wrapper{
  height: 82px;
  overflow-y: hidden;
  outline: 0;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
}

.relations-mobile-wrapper-two{
  width: auto;
  overflow: auto hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  padding-left: 8px;
  padding-right: 8px;
  height: 120px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 0 solid #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}

.glupia-nazwa{
  flex-direction: row;
  padding-left: 0px;
  padding-right: 0px;

  display: flex;

  margin: 0;
  padding: 0;
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}

.dupa{
  height: 122px;
  padding: 0 4px;
  width: 80px;
}

/*--------------------------------------*/

.relation-item-image {
  background-size: cover;
}

.relation-viewport {
  height: 223px;
  width: 293px;
  margin-top: 8px;
  margin-left: 16px;
}

.relation-item {
  margin: 2px;
  height: 52px;
}

.relation-item-data {
  flex: 0 1 100%;
  margin-left: 14px;
}

.relation-item-data-username{
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(var(--i1d,38,38,38),1);
}

.relation-item-data-time{
  font-size: 10px;
  line-height: 12px;
  color: rgba(var(--f52,153,153,153),1);
  text-transform: uppercase;
  white-space: nowrap;
}

.relation-item-wrapper{
  height: 44px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  align-items: center;
  border: 0;
  padding-left: 5px;
  text-align: left;
}

#relations-header-box {
  padding: 4px 16px;
  margin-top: 12px;
}

#relations-header-text {
  color: rgba(var(--f52,153,153,153),1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: -3px 0 -4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}



.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 200px;
  width: 100%;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source-example .example-item {
  width: 50px;
  height: 100%;
  writing-mode: vertical-lr;
}
