<div class="d-none d-lg-block relations">
  <div id="relations-header-box">
    <div id="relations-header-text">Relacje</div>
  </div>
  <cdk-virtual-scroll-viewport itemSize="52" class="relation-viewport">
    <div *cdkVirtualFor="let relation of relations" class="relation-item">
      <button class="relation-item-wrapper">
        <div fxLayout="row">
        <div mat-card-avatar class="relation-item-image"
             [ngStyle]="{'background-image': 'url(' + relation.profile_image +')'}"></div>
        <div fxLayout="column" class="relation-item-data">
          <div class="relation-item-data-username"><span>{{relation.username}}</span></div>
          <div class="relation-item-data-time">{{relation.time}}</div>
        </div>
        </div>
      </button>
    </div>

  </cdk-virtual-scroll-viewport>

</div>

<div class="d-block d-lg-none relations-mobile">
  <div class="relations-mobile-wrapper">
    <div class="relations-mobile-wrapper-two">
      <div class="glupia-nazwa">
      <div class="dupa" *ngFor="let relation of relations" >
        {{relation.username}}
      </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="d-block d-lg-none relations-mobile">
  <div class="cdk-virtual-scroll-data-source-example">
  <cdk-virtual-scroll-viewport orientation="horizontal" itemSize="52" class="example-viewport">
    <div *cdkVirtualFor="let relation of relations" class="example-item">
      <button class="relation-item-wrapper">
        <div fxLayout="row">
          <div mat-card-avatar class="relation-item-image"
               [ngStyle]="{'background-image': 'url(' + relation.profile_image +')'}"></div>
          <div fxLayout="column" class="relation-item-data">
            <div class="relation-item-data-username"><span>{{relation.username}}</span></div>
            <div class="relation-item-data-time">{{relation.time}}</div>
          </div>
        </div>
      </button>
    </div>

  </cdk-virtual-scroll-viewport>
  </div>
</div>-->
