<div class="d-none d-lg-block relation-section-wrapper">
  <div id="relation-header-box">
    <div id="relation-header-text">Relacje</div>
  </div>
  <cdk-virtual-scroll-viewport itemSize="52" class="relation-section-scroll">
    <div *cdkVirtualFor="let relation of relations" class="post">
      <button class="relation-wrapper">
        <div fxLayout="row">
        <div mat-card-avatar class="relation-photo"
             [ngStyle]="{'background-image': 'url(' + relation.profile_image +')'}"></div>
        <div fxLayout="column" class="relation-data-wrapper">
          <div class="relation-username"><span>{{relation.username}}</span></div>
          <div class="relation-time">{{relation.time}}</div>
        </div>
        </div>
      </button>
    </div>

  </cdk-virtual-scroll-viewport>

</div>

<div class="d-block d-lg-none relation-section-mobile">
  <div class="relation-section-wrapper-mobile">
        <div  class="relation-mobile" *ngFor="let relation of relations" >
          <div mat-card-avatar class="relation-photo-mobile"
               [ngStyle]="{'background-image': 'url(' + relation.profile_image +')'}"></div>
          <div class="relation-username-mobile">
            {{relation.username}}
          </div>
        </div>
  </div>
</div>
