.login-container{
  border: 1px solid rgba(219,219,219,1);
  border-radius: 3px;
  padding: 20px;
  resize: none;
  overflow: auto;
  height: 450px;
}

.login-container-wrapper {
  max-width: 535px;
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: none;
  overflow: auto;
}

.login-logo-container {
  justify-content: center;
  align-items: center;
}

.login-logo {
  font: 400 24px/32px Roboto, "Helvetica Neue", sans-serif;
}

@media (max-width: 800px) {
  .login-container-wrapper {
    max-width: 535px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: none;
    overflow: auto;
  }

}

