<div class="container">
  <h1>Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"
             class="form-control"
             id="email"
             required
             pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
             [(ngModel)]="model.email" name="email"
             #email="ngModel">
     <!-- <div *ngIf="email.errors && (email.invalid || email.touched)">
        <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
        <small class="text-danger" *ngIf="email.errors.pattern">Please provide a valid email address</small>
      </div>-->
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
      [(ngModel)]="model.password" name="password">
    </div>
    <div>
      <button type="submit" class="btn btn-primary"  [disabled]="!loginForm.form.valid" (click)="login(); loginForm.reset()">Login</button>
    </div>
    <div>
      <button (click)="openRegisterDialog()" style="padding: .800rem 0 .400rem;" type="button" class="btn btn-link">Register</button>
    </div>
    <div>
      <button style="padding: .400rem 0;" type="button" class="btn btn-link">Forgot password?</button>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button  class="btn btn-primary" mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
