.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline;
  overflow: hidden;
}

.no-js .inputfile + label {
  display: none;
}

.inputfile + label:hover {
  color: #3ba8c5;
}

.input-file {
  background-color: #e9ecef;
  border-radius: .3rem;
  justify-content:center;
  display: flex;
  align-items: center;
  text-align: center;
}

.img-preview-container {
  background-color: #f7f7f7;
  position: relative;

}

.img-preview {
  background: center center no-repeat;
  background-size: contain;
  height: 116px;
  width: 116px;

}

.img-preview-error {
  display: none;
}

.img-loading-overlay {
  background-color: black;
  bottom: 0;
  left: 0;
  opacity: .2;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.img-spinning-circle {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.add-item-opacity {
  background-color: rgba(0, 0, 0, 0.4);
}

.add-item-middle {
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
