  <div class="form-section">
    <div [className]="dialogRef ? '' : isMobile ? 'form-wrapper-mobile' : 'form-wrapper'">
      <div [className]="dialogRef ? '' : isMobile ? 'form-container-mobile' :'form-container'"
           class="container" [style]="isMobile ? 'border: none; ': '' ">
        <div class="form-logo-container" fxLayout="row">
          <img style="width: 55px; height: 55px"
               src="https://marm007.github.io/filmapp_frontend/static/media/ico.f5c2ef23.png"/>
          <p class="form-logo" style="margin-left: 10px;">PhotoApp</p>
        </div>
        <form #forgotForm="ngForm" (ngSubmit)="forgot()">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   id="email"
                   required
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                   [(ngModel)]="forgotData.email" name="email"
                   #email="ngModel">
            <!-- <div *ngIf="email.errors && (email.invalid || email.touched)">
               <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
               <small class="text-danger" *ngIf="email.errors.pattern">Please provide a valid email address</small>
             </div>-->
          </div>
          <div>
            <button type="submit" class="btn btn-primary" [disabled]="!forgotForm.form.valid">
              Send reset link
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
