.post-section-wrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  padding-top: 120px;
  display: flex;
  flex-grow: 1;
  max-width: 614px;
}

.post-section {
  width: 614px;
}

.post{
  padding: 0;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 3px;
  margin-bottom: 60px;
}

.post-header{
  height: 60px;
  /*padding: 16px;*/
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
}

.post-header-image{
  background-size: cover;
  margin-top: 10px;

}

.post-header-username{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-photo-block{
  display: block;
  overflow: hidden;
  width: 100%;
}

.post-photo{
  object-fit: cover;
  left: 0;
  top: 0;
  height: 600px;
}

.post-footer{
  padding-right: 16px;
  padding-left: 16px;
}

.post-likes{
  color: rgba(var(--f07,38,38,38),1);
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
}

.post-scroll-section{
  max-height: 300px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.post-description {
  font-size: 12px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  margin-bottom: 6px;
}

.post-description p{
  font-weight: 400;
  color: rgba(var(--i1d,38,38,38),1);
}

/*
  For showing more/less description of post
 */
.show {
  overflow: hidden;
  height: auto;
}

.post-description-show-more{
  background: 0 0;
  border: 0;
  color: #999;
  line-height: inherit;
  margin: 0;
  cursor: pointer;
  padding: 4px 0 4px 4px ;
  outline: 0;
}

.post-comment{
  margin-bottom: 4px;
}

.post-comment a{
  color: #262626;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
}

.post-comment span{
  color: rgba(var(--i1d,38,38,38),1);
  margin-left: 10px;
  font-size: 12px;
}

.post-load-more-comments-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-load-more-comments{
  background: 0 0;
  border: 0;
  color: #999;
  line-height: inherit;
  margin: 0;
  cursor: pointer;
}

.post-add-comment-section{
  border-top: 1px solid rgba(var(--ce3,239,239,239),1);
  color: rgba(var(--f52,153,153,153),1);
  line-height: 18px;
  min-height: 56px;
  justify-content: center;
  margin-top: 4px;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  align-items: stretch;
}

.post-add-comment{
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

.post-add-comment-form{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
}

.post-add-comment-text-area{
  background: 0 0;
  border: 0;
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  display: flex;
  flex-grow: 1;
  font-size: inherit;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
}

/* mobile version ----------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------- */


.post-section-mobile {
  flex-grow: 1;
  margin: 0 auto;
  max-width: 600px;
  position: relative;
  width: 100%;
  padding-top: 120px;
}
