<div class="post-section">
    <mat-card class="post-item" *ngFor="let post of postsMock">
      <mat-card-header class="post-item-header">
        <div mat-card-avatar class="post-item-header-image" [ngStyle]="{'background-image': 'url(' + post.profile_image +')'}"></div>
        <div class="post-item-header-username">
          <p>{{post.username}}</p>
        </div>
      </mat-card-header>
      <div class="post-item-photo-block">
        <img class="post-item-photo" mat-card-image src="{{post.profile_image}}" alt="Photo of a Shiba Inu">
      </div>
        <div class="post-item-footer">
        <mat-card-actions>
          <button mat-button>
            <i class="material-icons">
            favorite_border
          </i></button>
        </mat-card-actions>
          <div class="post-item-likes">
            Liczba polubień:
            <span>{{post.likes}}</span>
          </div>
        <mat-card-content class="post-item-scroll-section">
            <div class="post-item-description" [ngClass]="{show: post.show}">
              <p>{{post.description }}</p>
            </div>
              <button class="post-item-description-show-more" (click)="post.show = !post.show">{{post.show == false ? "więcej" : "mniej"}}</button>
            <div fxLayout="row" class="post-item-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
           <div fxLayout="row" class="post-item-comment">
            <a>{{post.comment_nick}}</a>
            <span>{{post.comment_content}}</span>
          </div>
          <div *ngIf="post.show">
            <div fxLayout="row" class="post-item-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-item-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-item-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-item-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-item-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
          </div>

        </mat-card-content>
        </div>
    </mat-card>
</div>
