<div class="d-none d-lg-block post-section">
  <mat-card class="post" *ngFor="let post of postsMock">
    <mat-card-header class="post-header">
      <div mat-card-avatar class="post-header-image"
           [ngStyle]="{'background-image': 'url(' + post.profile_image +')'}"></div>
      <div class="post-header-username">
        <p>{{post.username}}</p>
      </div>
    </mat-card-header>
    <div class="post-photo-block">
      <img class="post-photo" mat-card-image src="{{post.profile_image}}" alt="Photo of a Shiba Inu">
    </div>
    <div class="post-footer">
      <mat-card-actions>
        <button mat-button style="outline: 0">
          <i class="material-icons">
            favorite_border
          </i></button>
      </mat-card-actions>
      <div class="post-likes">
        Liczba polubień:
        <span>{{post.likes}}</span>
      </div>
      <mat-card-content class="post-scroll-section">
        <div class="post-description" [ngClass]="{show: post.showDescription}">
          <span *ngIf="!post.showDescription">{{post.description  | words: 10}}</span>
          <span *ngIf="post.showDescription">{{post.description}}</span>
          <button class="post-description-show-more"
                  (click)="post.showDescription = !post.showDescription">{{post.showDescription == false ? "więcej" : "mniej"}}</button>
        </div>
        <div>
          <div fxLayout="row" class="post-comment">
            <a>{{post.comment_nick}}</a>
            <span>{{post.comment_content}}</span>
          </div>
          <div fxLayout="row" class="post-comment">
            <a>{{post.comment_nick}}</a>
            <span>{{post.comment_content}}</span>
          </div>
          <div *ngIf="!post.showMoreComments" class="post-load-more-comments-wrapper">
            <button class="post-load-more-comments" style="outline: 0"
                    (click)="post.showMoreComments = !post.showMoreComments">
              <i class="material-icons">
                add_circle_outline
              </i>
            </button>
          </div>
          <div *ngIf="post.showMoreComments">
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
          </div>
        </div>

      </mat-card-content>
      <section class="post-add-comment-section">
        <div class="post-add-comment">
          <form class="post-add-comment-form">
            <textarea [(ngModel)]="post.userCommentContent"
                      name="userCommentContent"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      aria-label="Dodaj komentarz..."
                      placeholder="Dodaj komentarz..."
                      class="post-add-comment-text-area"></textarea>
            <button style="outline: 0" (click)="sendValues(post)" [disabled]="!post.userCommentContent" type="button"  mat-button>Opublikuj</button>
          </form>
        </div>
      </section>
    </div>
  </mat-card>
</div>

<div class="d-block d-lg-none post-section-mobile">
  <mat-card class="post" *ngFor="let post of postsMock">
    <mat-card-header class="post-header">
      <div mat-card-avatar class="post-header-image"
           [ngStyle]="{'background-image': 'url(' + post.profile_image +')'}"></div>
      <div class="post-header-username">
        <p>{{post.username}}</p>
      </div>
    </mat-card-header>
    <div class="post-photo-block">
      <img class="post-photo" mat-card-image src="{{post.profile_image}}" alt="Photo of a Shiba Inu">
    </div>
    <div class="post-footer">
      <mat-card-actions>
        <button mat-button style="outline: 0">
          <i class="material-icons">
            favorite_border
          </i></button>
      </mat-card-actions>
      <div class="post-likes">
        Liczba polubień:
        <span>{{post.likes}}</span>
      </div>
      <mat-card-content class="post-scroll-section">
        <div class="post-description" [ngClass]="{show: post.showDescription}">
          <span *ngIf="!post.showDescription">{{post.description  | words: 10}}</span>
          <span *ngIf="post.showDescription">{{post.description}}</span>
          <button class="post-description-show-more"
                  (click)="post.showDescription = !post.showDescription">{{post.showDescription == false ? "więcej" : "mniej"}}</button>
        </div>
        <div>
          <div fxLayout="row" class="post-comment">
            <a>{{post.comment_nick}}</a>
            <span>{{post.comment_content}}</span>
          </div>
          <div fxLayout="row" class="post-comment">
            <a>{{post.comment_nick}}</a>
            <span>{{post.comment_content}}</span>
          </div>
          <div *ngIf="!post.showMoreComments" class="post-load-more-comments-wrapper">
            <button class="post-load-more-comments" style="outline: 0"
                    (click)="post.showMoreComments = !post.showMoreComments">
              <i class="material-icons">
                add_circle_outline
              </i>
            </button>
          </div>
          <div *ngIf="post.showMoreComments">
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
            <div fxLayout="row" class="post-comment">
              <a>{{post.comment_nick}}</a>
              <span>{{post.comment_content}}</span>
            </div>
          </div>
        </div>

      </mat-card-content>
      <section class="post-add-comment-section">
        <div class="post-add-comment">
          <form class="post-add-comment-form">
            <textarea [(ngModel)]="post.userCommentContent"
                      name="userCommentContent"
                      matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="5"
                      aria-label="Dodaj komentarz..."
                      placeholder="Dodaj komentarz..."
                      class="post-add-comment-text-area"></textarea>
            <button style="outline: 0" (click)="sendValues(post)" [disabled]="!post.userCommentContent" type="button"  mat-button>Opublikuj</button>
          </form>
        </div>
      </section>
    </div>
  </mat-card>
</div>
