.post-section {
  width: 614px;
  float:left;
  margin-right: 28px;

}

.post-item{
  padding: 0;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 3px;
  margin-bottom: 60px;
}

.post-item-photo-block{
  display: block;
  overflow: hidden;
  width: 100%;
}

.post-item-photo{
  object-fit: cover;
  left: 0;
  top: 0;
  height: 600px;
}

.post-item-header-image{
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  margin-top: 10px;
  background-size: cover;
}

.post-item-header{
  height: 60px;
  padding: 16px;
  display: flex;
  flex-direction: row;

}


.post-item-header-username{
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-item-scroll-section{
  max-height: 300px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}


.post-item-footer{
  padding-right: 16px;
  padding-left: 16px;

}


.post-item-description {
  font-size: 12px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
  margin-bottom: 6px;
}


.post-item-description p{
  font-weight: 400;
  color: rgba(var(--i1d,38,38,38),1);
}

.post-item-likes{
  color: rgba(var(--f07,38,38,38),1);
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
}

.show {
  overflow: hidden;
  height: auto;
}

.post-item-description-show-more{
  background: 0 0;
  border: 0;
  color: #999;
  line-height: inherit;
  margin: 0;
  cursor: pointer;
  padding: 4px 0 4px 4px ;
}

.post-item-description-load-more-comments{
  background: 0 0;
  border: 0;
  color: #999;
  line-height: inherit;
  margin: 0;
  cursor: pointer;
}

.post-item-load-more-comments-wra{
  display: flex;
  align-items: center;
  justify-content: center;
}


.post-item-comment{
  margin-bottom: 4px;
}

.post-item-comment a{
  color: #262626;
  font-weight: 600;
  font-size: 12px;
  white-space: nowrap;
}

.post-item-comment span{
  color: rgba(var(--i1d,38,38,38),1);
  margin-left: 10px;
  font-size: 12px;
  line-height: 16px;
}

.post-item-add-comment{
  border-top: 1px solid rgba(var(--ce3,239,239,239),1);
  color: rgba(var(--f52,153,153,153),1);
  line-height: 18px;
  min-height: 56px;
  justify-content: center;
  margin-top: 4px;
  display: flex;
  flex-shrink: 0;
  font-size: 14px;
  align-items: stretch;

}

.post-item-add-comment-wrapper{
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;

}

.post-item-add-comment-form{
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  position: relative;
}

.post-item-add-comment-text-area{
  background: 0 0;
  border: 0;
  color: #262626;
  color: rgba(var(--i1d,38,38,38),1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: inherit;
  max-height: 80px;
  outline: 0;
  padding: 0;
  resize: none;
}
