.profile-section{
  padding: 30px 20px 0;
  width: calc(100% - 40px);
  flex-grow: 1;
  max-width: 975px;
  display: flex;
  /*flex-grow: 1;*/
  margin: 60px auto 30px;
  flex-direction: column;
}

.profile-header{
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.profile-image-wrapper{
  display: flex;
  flex-grow: 1;
  width: 150px;
  height: 150px;
  margin-right: 35px;
  margin-left: 35px;
}

.profile-image{
  background-size: cover;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

.profile-data{
  flex-grow: 2;
}

.profile-data-wrapper {
  margin-bottom: 20px;
  align-items: center;
  flex-direction: row;
  flex-shrink: 1;
  display: flex;
  position: relative;
}

.profile-username {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(38, 38, 38, 1);
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  margin: -5px 0 -6px;
}

.profile-follow {
  outline: 0;
  display: flex;
  margin-left: 20px;
}

.profile-data-statistics {
  margin-right: 40px;
  font-size: 16px;
  color: rgba(38, 38, 38, 1);
}

.profile-posts{
  border-top: 1px solid rgba(var(--b38,219,219,219),1);
  display: flex;
  flex-direction: column;
}


/*
.profile-row {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  width: 100%;
}

.profile-row-image{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  object-fit: cover;
}*/

.profile-column {
  float: left;
  width: 32%;
}

.profile-row{
  margin-top: 25px;
}

/* Clearfix (clear floats) */
.profile-row::after {
  content: "";
  clear: both;
  display: table;
}


/* mobile version -----------------------------------------------------------------------------
--------------------------------------------------------------------------------
 */

.profile-header-mobile {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px 16px 24px;
}

.profile-image-wrapper-mobile{
  display: flex;
  margin-right: 35px;
  width: 75px;
  height: 75px;
}

.profile-image-mobile{
  background-size: cover;
  width: 75px;
  height: 75px;
}

.profile-data-statistics-mobile-wrapper {
  justify-content: space-around;
  border-top: 1px solid rgba(var(--b38,219,219,219),1);
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.profile-data-statistics-mobile {
  font-size: 12px;
  text-align: center;
  width: 33.3%;
}

.profile-data-statistics-name-mobile {
  text-align: center;
  color: rgba(var(--f52,153,153,153),1);
}

.profile-data-statistics-value-mobile {
  display: block;
  color: rgba(var(--i1d,38,38,38),1);
  font-weight: 600;
}
