/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-body p, .mat-body-1 p, .mat-typography p {

  margin: 0 0 0px;

}
.mat-card-actions {
  margin-bottom: 8px !important;
}
