<!--<div class="d-none d-lg-block search-section-wrapper" >-->
<!--  <cdk-virtual-scroll-viewport itemSize="52" class="search-section-scroll" >-->
<!--    <div style="width: 100%; height: 1px;  margin-bottom: 10px; margin-top: 10px; border-bottom: 1px solid rgba(219,219,219,1);"></div>-->
<!--    <div *ngFor="let result of searchResults; index as i" class="post">-->
<!--      <button class="search-wrapper" style="outline: 0;">-->
<!--        <div fxLayout="row">-->
<!--          <div mat-card-avatar class="search-photo"-->
<!--               [ngStyle]="{'background-image': 'url(' + result.meta.photo +')'}"></div>-->
<!--          <div fxLayout="column" class="search-data-wrapper">-->
<!--            <div class="search-username"><span>{{result.username}}</span></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </button>-->
<!--    </div>-->

<!--  </cdk-virtual-scroll-viewport>-->

<!--</div>-->
