<div *ngIf="post" class="d-none d-lg-block post-section-wrapper" [style]="!isHomePage ? 'padding-top:120px;   margin: 0 auto 0 auto;'
 : '  margin: 0 28px 0 auto;'">
  <div class="post-section d-none d-lg-block">
    <mat-card class="post">
      <mat-card-header class="post-header">
        <div mat-card-avatar class="post-header-image clickable" routerLink="/profile/{{this.post.user.id}}"
          [ngStyle]="{'background-image': 'url(' + post.user.meta.avatar +')'}"></div>
        <div class="post-header-username">
          <p>{{post.user.username}}</p>
        </div>
        <div class="fa fa-1x post-options">
          <fa-icon [matMenuTriggerFor]="postMenu" [icon]="moreIcon" icon="moreIcon">
          </fa-icon>
        </div>
      </mat-card-header>
      <div class="post-photo-block" (dblclick)="handleClick()">
        &nbsp;
        <app-blured-image [meta]="post.image_meta"></app-blured-image>
        <fa-icon @myInsertRemoveTrigger *ngIf="likeTrigger" [icon]="likeIcon" icon="likeIcon"
          class="fa fa-6x like-heart">
        </fa-icon>
      </div>
      <div class="post-footer">
        <mat-card-actions>
          <button (click)="handleClick(true)" mat-button style="outline: 0">
            <fa-icon *ngIf="!isLiked" style="line-height: 0" [icon]="likeNoBorderIcon" icon="likeNoBorderIcon">
            </fa-icon>
            <fa-icon *ngIf="isLiked" style="line-height: 0" [icon]="likeIcon" icon="likeIcon">
            </fa-icon>
          </button>
        </mat-card-actions>
        <div class="post-likes">
          Liczba polubień:
          <span>{{post.likes}}</span>
        </div>
        <mat-card-content class="post-scroll-section">
          <div class="post-description" [ngClass]="{show: showDescription}">
            <span *ngIf="!showDescription && showMoreDescription">{{post.description | words:
              MAX_DESCRIPTION_WORDS}}</span>
            <span *ngIf="showDescription || (!showDescription && !showMoreDescription)">{{post.description}}</span>
            <button class="post-description-show-more" *ngIf="showMoreDescription"
              (click)="showDescription = !showDescription">{{showDescription == false ? "more" : "less"}}</button>
          </div>
          <app-comments [initialComments]="post.comments" [isDesktop]="isDesktop" [userId]="userID" [postId]="post.id">
          </app-comments>
        </mat-card-content>
        <section class="post-add-comment-section">
          <div class="post-add-comment">
            <form class="post-add-comment-form">
              <textarea [(ngModel)]="addCommentContent" name="userCommentContent" matInput cdkTextareaAutosize
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" aria-label="Add comment..." placeholder="Add comment..."
                class="post-add-comment-text-area"></textarea>
              <button style="outline: 0" (click)="addComment(addCommentContent)" [disabled]="!addCommentContent"
                type="button" mat-button>Publish
              </button>
            </form>
          </div>
        </section>
      </div>
    </mat-card>
  </div>
</div>

<div *ngIf="post" class="d-block d-lg-none post-section-mobile"
  [style]="!isHomePage ? 'padding-top:120px;' : ''">
  <mat-card class="post">
    <mat-card-header class="post-header">
      <div mat-card-avatar class="post-header-image  clickable" routerLink="/profile/{{this.post.user.id}}"
        [ngStyle]="{'background-image': 'url(' + post.user.meta.avatar +')'}"></div>
      <div class="post-header-username">
        <p>{{post.user.username}}</p>
      </div>
      <div class="fa fa-1x post-options">
        <fa-icon [matMenuTriggerFor]="postMenu" [icon]="moreIcon" icon="moreIcon">
        </fa-icon>
      </div>
    </mat-card-header>
    <div class="post-photo-block" (dblclick)="handleClick()">
      <app-blured-image [meta]="post.image_meta"></app-blured-image>
      <fa-icon @myInsertRemoveTrigger *ngIf="likeTrigger" [icon]="likeIcon" icon="likeIcon" class="fa fa-6x like-heart">
      </fa-icon>
    </div>
    <div class="post-footer">
      <mat-card-actions>
        <button (click)="handleClick(true)" mat-button style="outline: 0">
          <fa-icon *ngIf="!isLiked" style="line-height: 0" [icon]="likeNoBorderIcon" icon="likeNoBorderIcon">
          </fa-icon>
          <fa-icon *ngIf="isLiked" style="line-height: 0" [icon]="likeIcon" icon="likeIcon">
          </fa-icon>
        </button>
      </mat-card-actions>
      <div class="post-likes">
        Liczba polubień:
        <span>{{post.likes}}</span>
      </div>
      <mat-card-content class="post-scroll-section">
        <div class="post-description" [ngClass]="{show: showDescription}">
          <span *ngIf="!showDescription && showMoreDescription">{{post.description | words:
            MAX_DESCRIPTION_WORDS}}</span>
          <span *ngIf="showDescription || (!showDescription && !showMoreDescription)">{{post.description}}</span>
          <button class="post-description-show-more" *ngIf="showMoreDescription"
            (click)="showDescription = !showDescription">{{showDescription == false ? "more" : "less"}}</button>
        </div>
        <app-comments [initialComments]="post.comments" [isDesktop]="isDesktop" [userId]="userID" [postId]="post.id">
        </app-comments>
      </mat-card-content>
      <section class="post-add-comment-section">
        <div class="post-add-comment">
          <form class="post-add-comment-form">
            <textarea [(ngModel)]="addCommentContent" name="userCommentContent" matInput cdkTextareaAutosize
              cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" aria-label="Add comment..." placeholder="Add comment..."
              class="post-add-comment-text-area"></textarea>
            <button style="outline: 0" (click)="addComment(addCommentContent)" [disabled]="!addCommentContent"
              type="button" mat-button>
              Publish
            </button>
          </form>
        </div>
      </section>
    </div>
  </mat-card>
</div>

<div *ngIf="!post" class="d-block d-lg-none post-section-wrapper" [style]="!isHomePage ? 'padding-top:120px; margin: auto;' : ''">
  <mat-card class="post">
    <mat-card-header class="post-header">
      <div mat-card-avatar class="post-header-image skeleton-box-no-anim">
      </div>
      <div class="post-header-username">
      </div>
    </mat-card-header>
    <div class="post-photo-block">
      <app-blured-image [meta]="null"></app-blured-image>
    </div>
    <div class="post-footer">
      <mat-card-actions>
        <button mat-button style="outline: 0">
          <fa-icon *ngIf="!isLiked" style="line-height: 0" [icon]="likeNoBorderIcon" icon="likeNoBorderIcon">
          </fa-icon>
        </button>
      </mat-card-actions>
      <div class="post-likes">
        Liczba polubień:
        <span></span>
      </div>
      <mat-card-content class="post-scroll-section">

      </mat-card-content>
    </div>
  </mat-card>
</div>

<div *ngIf="!post" class="d-none d-lg-block post-section-wrapper" [style]="!isHomePage ? 'padding-top:120px;   margin: 0 auto 0 auto;'
 : '  margin: 0 28px 0 auto;'">
  <div class="post-section d-none d-lg-block">
    <mat-card class="post">
      <mat-card-header class="post-header">
        <div mat-card-avatar class="post-header-image clickable skeleton-box-no-anim"></div>
        <div class="post-header-username">
        </div>
      </mat-card-header>
      <div class="post-photo-block">
        <app-blured-image [meta]="null"></app-blured-image>
      </div>
      <div class="post-footer">
        <mat-card-actions>
          <button mat-button style="outline: 0">
            <fa-icon *ngIf="!isLiked" style="line-height: 0" [icon]="likeNoBorderIcon" icon="likeNoBorderIcon">
            </fa-icon>
          </button>
        </mat-card-actions>
        <div class="post-likes">
          Liczba polubień:
        </div>
        <mat-card-content class="post-scroll-section">
        </mat-card-content>
      </div>
    </mat-card>
  </div>
</div>

<mat-menu #postMenu="matMenu">
  <button *ngIf="isOwner" mat-menu-item style="outline: 0;" (click)="handleDelete()">Usun</button>
  <button *ngIf="isOwner" mat-menu-item style="outline: 0;" (click)="handleEdit()">Edytuj</button>
  <button mat-menu-item style="outline: 0;" (click)="handleSee()">Zobacz</button>
</mat-menu>