<div class="d-none d-lg-block relation-section-wrapper" *ngIf="(postsLoaded | async) == true">
  <div id="relation-header-box">
    <div id="relation-header-text">Relacje</div>
  </div>
  <cdk-virtual-scroll-viewport itemSize="52" class="relation-section-scroll"
                               infinite-scroll
                               [scrollWindow]="false"
                               [infiniteScrollDistance]="2"
                               [infiniteScrollThrottle]="150"
                               (scrolled)="listFollowedRelations(this.relations.length, this.relations.length + 5)">
    <button class="relation-wrapper" style="outline: 0;"
            [matMenuTriggerFor]="relationMenu">
      <div fxLayout="row">
        <div mat-card-avatar class="relation-photo"
             [ngStyle]="{'background-image': 'url('+ user.meta.avatar +')'}">
        </div>
        <div fxLayout="column" class="relation-data-wrapper">
          <div class="relation-username">
            <span>
              Twoje relacje
            </span>

          </div>
          <!--<div class="relation-time">10</div>-->
        </div>
      </div>
    </button>
    <mat-menu #relationMenu="matMenu">
      <button mat-menu-item style="outline: 0;" (click)="addRelation()">Dodaj</button>
      <button mat-menu-item style="outline: 0;" (click)="playRelation()">Zobacz</button>
    </mat-menu>
    <div
      style="width: 100%; height: 1px;  margin-bottom: 10px; margin-top: 10px; border-bottom: 1px solid rgba(219,219,219,1);"></div>
    <div *ngFor="let relation of relations; index as i" class="post">
      <button class="relation-wrapper" style="outline: 0;">
        <div fxLayout="row" (click)="playRelation(i)">
          <div mat-card-avatar class="relation-photo"
               [ngStyle]="{'background-image': 'url(' + relation.image +')'}"></div>
          <div fxLayout="column" class="relation-data-wrapper">
            <div class="relation-username"><span>{{relation.user.username}}</span></div>
            <div class="relation-time">{{relation.created}}</div>
          </div>
        </div>
      </button>
    </div>

  </cdk-virtual-scroll-viewport>

</div>

<div class="d-block d-lg-none relation-section-mobile" *ngIf="(postsLoaded | async) == true">
  <div class="relation-section-wrapper-mobile"
       infinite-scroll
       [horizontal]="true"
       [scrollWindow]="false"
       [infiniteScrollDistance]="5"
       [infiniteScrollThrottle]="50"
       (scrolled)="listFollowedRelations(this.relations.length, this.relations.length + 5)">
    <div [matMenuTriggerFor]="relationMenu"
         style="min-width: 100px; display: flex; flex-direction: row" class="relation-mobile">
      <div mat-card-avatar class="relation-photo-mobile"
           [ngStyle]="{'background-image': 'url('+ user.meta.avatar +')'}">
      </div>
      <div style="min-width: 100px" class="relation-username-mobile">
        Twoje relacje
      </div>
    </div>
    <mat-menu #relationMenu="matMenu">
      <button mat-menu-item style="outline: 0;" (click)="addRelation()">Dodaj</button>
      <button mat-menu-item style="outline: 0;" (click)="playRelation()">Zobacz</button>
    </mat-menu>
    <div class="relation-mobile-others" *ngFor="let relation of relations; index as i">
        <div mat-card-avatar class="relation-photo-mobile" (click)="playRelation(i)"
             [ngStyle]="{'background-image': 'url(' + relation.image +')'}"></div>
        <div (click)="playRelation(i)"
             style="min-width: 50px" class="relation-username-mobile">{{relation.user.username}}</div>
    </div>
  </div>
</div>
